body{
    font-family: arial,sans-serif;
    margin: 0;
    background-color: #2e9b4f;
    
}   

header{
   
    background-color: #4caf50;
    margin:auto;
    align-content: space-between;
    align-items: center;
    display: flex;
}

.produto{
  border: 02px;
  padding:20px;
  border-radius: 5px;
  border-color: rgb(255, 240, 242);
  box-shadow: 0 2px 5px rgba(0,0,0,0,1);
}